/* Cards */
.card {
  position: relative;
  display: block;
  margin-bottom: 30px;
  background-color: #f7f7f7;
  border-radius: 0;
  border: 0;
  width: 100%;
}

.card-img-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.card-img-inside {
  margin-bottom: 15px;
}

.card img {
  width: 100%;
}

.card-block {
  padding: 15px;
}

.card-title {
  margin-top: 0;
  margin-bottom: 15px;
}

.card-text {
  font-size: 14px;
}

.card-btn {
  margin-top: 5px;
}

.card-2 {
  position: relative;
  display: block;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid #ebebeb;
  border-radius: 0;
}

.card-2 .card-text {
  font-size: 26px;
  line-height: 1.2;
}

.card-2 .card-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(0,0,0,0.9) !important;
  cursor: pointer !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait !important;
}
.my-overlay i.fa.fa-spinner.fa-spin, .spinner-big {
  font-size: 100px !important;
}