<div id="cards">
  <div class="container">
    <div class="page-header">
      <h2>SpaceX Launch Programs</h2>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title text-center pb-2">Filters</h5>
            <h5 class="card-title text-center pb-2">Launch Year</h5>
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6 pb-2" *ngFor="let year of yearList; let rowNo = index">
                <button type="button" [ngClass]="year.isActive?'btn-success':'btn-outline-success'"
                  (click)="yearFilter(year)" class="btn">{{year.value}}</button>
              </div>
            </div>
            <h5 class="card-title text-center pb-2 pt-2">Successful Launch</h5>
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6">
                <button type="button" [ngClass]="parameters.Launch == 1 ?'btn-success':'btn-outline-success'"
                  (click)="parameters.Launch = 1;makeFilter()" class="btn">True</button>
              </div>
              <div class="col-6 col-sm-6 col-md-6">
                <button type="button" [ngClass]="parameters.Launch == 0 ?'btn-success':'btn-outline-success'"
                  (click)="parameters.Launch = 0;makeFilter()" class="btn">False</button>
              </div>
            </div>
            <h5 class="card-title text-center pb-2 pt-2">Successful Landing</h5>
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6">
                <button type="button" [ngClass]="parameters.Land == 1 ?'btn-success':'btn-outline-success'"
                  (click)="parameters.Land = 1;makeFilter()" class="btn">True</button>
              </div>
              <div class="col-6 col-sm-6 col-md-6">
                <button type="button" [ngClass]="parameters.Land == 0 ?'btn-success':'btn-outline-success'"
                  (click)="parameters.Land = 0;makeFilter()" class="btn">False</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10" *ngIf="spaceXList && spaceXList.length">
        <div class="row">
          <div class="col-md-3" *ngFor="let spaceX of spaceXList; let rowNo = index">
            <div class="card">
              <img class="card-img-top" [src]="spaceX.links.mission_patch" alt="Not Found"
                onerror="this.onerror=null; this.src='assets/images/404.jpg'">
              <div class="card-block">
                <h5 class="card-title text-center pb-2">{{spaceX.mission_name}} #{{spaceX.flight_number}}</h5>
                <p class="card-text"><b>Mission IDs : </b></p>
                <ul>
                  <li *ngFor="let id of spaceX.mission_id">{{id}}</li>
                </ul>
                <table>
                  <tr>
                    <td class="card-text"><b>Launch Year : </b></td>
                    <td>{{spaceX.launch_year}}</td>
                  </tr>
                  <tr>
                    <td class="card-text"><b>Successful Launch : </b></td>
                    <td>{{spaceX.launch_success}}</td>
                  </tr>
                  <tr>
                    <td class="card-text"><b>Successful Landing : </b></td>
                    <td>{{spaceX?.rocket?.first_stage?.cores[0]?.land_success}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-10 text-center" *ngIf="!spaceXList || !spaceXList.length">
        <h5>{{showOverlay ? 'Loading...': 'No Data Available'}}</h5>
      </div>
    </div>

  </div>
</div>

<div class="my-overlay" *ngIf="showOverlay">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</div>